old
*.old
*.swp


#unix
unix/.vim/plugged
unix/.vim/.netrwhist
unix/.vim/session/*
unix/.vim/sessions/*
unix/.test-vim/*

unix/.moc/cache/*
unix/.moc/equalizer
unix/.moc/pid
unix/.moc/softmixer
unix/.moc/socket2
unix/.moc/last_directory
unix/.moc/*.m3u

unix/.ssh/cache/*
unix/.ssh/keys/*
#unix/.ssh/config

unix/.config/newsboat/cache/*
unix/.config/newsboat/log/*

unix/.weechat/logs/*
unix/.weechat/irc.conf
unix/.weechat/weechat.log

unix/.config/tmux/plugins


#linux
linux/.local/bin/pyflakes

linux/.config/newsboat/cache/*

linux/.config/vifm/vifminfo*
linux/.config/vifm/vifmimgpdffile
linux/.config/vifm/vifmimgpdfpage

linux/.config/xfce4/xfce4-screenshooter
linux/.config/xfce4/desktop/*


#macos
